
@{
    ViewBag.Title = "Propiedades";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}
@using (Html.BeginForm("Propiedades", "Propiedad", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ApiProvincias.js"></script>
    <style>
        .canton,
        .distrito {
            display: none;
        }
    </style>
    <div class="row">
        <div class="col-lg-3 form-group">
            <label>Categoria de la propiedad</label>
            <select class="form-control" required name="Id_Categoria_P" id="Id_Categoria_P" onChange="mostrar(this.value);">
                <option>Seleccione una categoria</option>
                @{ foreach (BienesRaices.Models.MostrarCategoria_Result Categoria in this.ViewBag.CargarCategoria)
                    {
    <option value="@Categoria.Id_Categoria_CA">@Categoria.Nombre_CA</option> } }
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Nombre de la propiedad</label>
            <input type="text" required class="form-control" autocomplete="off" name="Nombre_P" value="" placeholder="Ingrese el nombre de la propiedad" />
        </div>
        <div class="col-lg-3 form-group" id="TipoMoneda_P">
            <label>Tipo Moneda</label>
            <select class="form-control" required name="TipoMoneda_P">
                <option value="$">Dolares</option>
                <option value="¢">Colones</option>
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Precio de la Propiedad</label>
            <input type="text" class="form-control" required name="Precio" id="currency-field" pattern="^\¢\d{1,3}(,\d{3})*(\.\d+)?¢" value="" data-type="currency" placeholder="Ingrese el Precio de la Propiedad" />
        </div>
        <div class="col-lg-3 form-group" id="CanCuartos_C">
            <label>Cantidad de Cuartos</label>
            <select class="form-control" name="CanCuartos_C">
                <option value="">Seleccione la cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="col-lg-3 form-group" id="CanBanos_C">
            <label>Cantidad de Baños</label>
            <select class="form-control" name="CanBanos_C">
                <option value="">Seleccione la cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>


        <div class="col-lg-3 form-group " id="CanGarage_C">
            <label>Cantidad de Garajes</label>
            <select class="form-control" name="CanGarage_C">
                <option value="">Seleccione la cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label>Cargar Imagen</label>
            <input class="form-control-file border" type="file" multiple id="Ruta_I" name="Ruta_I" />
        </div>

        <div class="col-lg-3 form-group">
            <label>Categoria de la propiedad</label>
            <select class="form-control" required name="IdPrioridad_Pri" id="IdPrioridad_Pri">
                <option>Seleccione una categoria</option>
                @{ foreach (BienesRaices.Models.MuestraPrioridad_Result Prioridad in this.ViewBag.CargarPrioridad)
                    {
    <option value="@Prioridad.IdPrioridad_Pri">@Prioridad.Nombre_Pri</option> } }
            </select>
        </div>


        <div class="col-lg-3 form-group">
            <label for="provincias">Provincia</label>
            <select required class="form-control" id="provincias" name="Id_Provincia_L" onchange="getCantones(this.value);">
            </select>
        </div>
        <div class="col-lg-3 form-group canton">
            <label for="cantones">Cantón</label>
            <select required class="form-control" id="cantones" name="Id_Canton_L" onchange="getDistritos(this.value);">
            </select>
        </div>
        <div class="col-lg-3 form-group distrito">
            <label for="distritos">Distrito</label>
            <select required class="form-control" id="distritos" name="Id_Distrito_L"></select>
        </div>



        <div class="col-lg-3 form-group">
            <label for="">Metros Cuadrados de la propiedad</label>
            <input required type="number" class="form-control" autocomplete="off" name="MetrosCuadradosLote_C" value="" placeholder="Ingrese la Cantidad" />
        </div>
        <div class="col-lg-3 form-group" id="MetrosCuadradosCasa_C">
            <label for="">Metros Cuadrados de la construcción</label>
            <input required type="number" class="form-control" autocomplete="off" name="MetrosCuadradosCasa_C" value="" placeholder="Ingrese la Cantidad" />
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Descripción de la propiedad</label>
            <div class="md-form">
                <textarea name="Descripcion_P" class="md-textarea form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Dirección exacta de la propiedad</label>
            <div class="md-form">
                <textarea name="DireccionExacta_L" class="md-textarea form-control" rows="3"></textarea>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-lg-5 offset-lg-5">
            <input class="btn btn-secondary" type="submit" name="name" value="Cargar" />
        </div>
    </div>
    <input type="text" hidden name="NombreProvincia_L" id="1" value="" />
    <input type="text" hidden name="NombreCanton_L" id="2" value="" />
    <input type="text" hidden name="NombreDistrito_L" id="3" value="" />
}

<script>
    // Jquery Dependency

    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });


    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;

        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input_val.indexOf(".") >= 0) {

            // get position of first decimal
            // this prevents multiple decimals from
            // being entered
            var decimal_pos = input_val.indexOf(".");

            // split number by decimal point
            var left_side = input_val.substring(0, decimal_pos);
            var right_side = input_val.substring(decimal_pos);

            // add commas to left side of number
            left_side = formatNumber(left_side);

            // validate right side
            right_side = formatNumber(right_side);

            // On blur make sure 2 numbers after decimal
            if (blur === "blur") {
                right_side += "00";
            }

            // Limit decimal to only 2 digits
            right_side = right_side.substring(0, 2);

            // join number by .
            input_val =  left_side + "." + right_side;

        } else {
            // no decimal entered
            // add commas to number
            // remove all non-digits
            input_val = formatNumber(input_val);

            // final formatting
            if (blur === "blur") {
                input_val += ".00";
            }
        }

        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3cOQNB4cQjQDSGWiB_nT2H2pEOuD3w60&callback=initMap" async defer></script>
