
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}
<script src="~/Scripts/Reporte/ReporteCliente.js"></script>
<div id="divKendoGrid" style="overflow: scroll; width: 100%;">
</div>

