.carousel-item {
    height: 100vh;
    min-height:300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
@media only screen and (max-width: 600px){
    .carousel-item {
        height: 10vh;
    }
}

.carousel-caption {
    bottom: auto;
    margin-bottom: 250px!important;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin-top: 25px;
    font-family: merienda;

}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;

}

.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
}

.nav-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .navbar-link:hover{
    color: #fff !important;
}

w-100 {
    height: 100vh;
    height: 100%!important;
}

@media only screen and (max-width: 767px){
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }

    .nav-link {
        color: white!important;
    }
}

.navbar{
    navbar-brand!important;
}

.nav-item{
    color: #ffffff;
}

.iconos-caracteristicas {
    list-style: none; /*circle*/ /* Para cambiar el diseño de las viñetas */
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.iconos-caracteristicas li {
    /* flex 1;  ---> Si puse el justify-content este ya no hace falta porque con evenly hace la separacion*/
    display: flex;
}

.iconos-caracteristicas li img {

    margin-right: 8px;
}

.iconos-caracteristicas p {
    margin-top: 20px;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto {
    background-image: url('../../../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

/* FOOTER */

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor > div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
}

/*@media only screen and (min-width:768px) {
    footer .contenedor > div {
        width: 33.3%;
        float: left;
    }
}*/

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 span {
    color: green;
}

footer .ultimos-tweets li {
    margin-bottom: 10px;
}

footer nav.redes-sociales {
    text-align: left;
}

.redes-sociales i {
    color: green;
}

.redes-sociales {
    display: inline-block;
    font-size: 30px;
}

p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}

/* PROPIEDADES */
.propiedades .row p{
    font-size:15px;

}
i.fas{
    font-size: 25px;
    margin-right: 20px;
}


/*BOTONES*/
.boton {
    background-color: #E0FFFF;
}