
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}

<form id="frmNuevaCuenta" method="post">

    <div class="container">

        <h2 class="text-center mt-4 mb-5">Ingresar cuenta</h2>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <div class="form-control form-control-lg">
                    <label class="">Usuario:</label>
                    <input type="text" name="Usuario_CR" id="Usuario_CR" class="form-control text-center" placeholder="Ingrese el usuario" required />
                </div>
                <div class="form-control form-control-lg">
                    <label>Contraseña:</label>
                    <input type="text" name="Contrasena_CR" id="Contrasena_CR" class="form-control text-center" placeholder="Ingrese la contraseña" required />
                </div>

                <div class="form-group">
                    <input type="submit" value="Insertar" id="btnInsertar" class="btn btn-success btn-lg btn-block mt-4" />
                </div>
            </div>
            <div class="col-2"></div>
        </div>

    </div>

</form>

@section scripts{
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Validaciones/IngresarCuenta.js"></script>
}